<div class="container">
  <h1><%= @card.hint %></h1> </br>
  <p>The correct answer is <%= @card.answer %></p> </br>
  <% if @guess.correct %>
  <p>Your answer was correct!!!</p> </br></br>
  <% else %>
  <p>Your answer was incorrect.</p> </br></br>
  <% end %>

  <h2>You have <%=@guesses_left %> guesses left. </h2> </br>
  <p> <%= @message %> </p><br><br></br>
  <a href="/card/guess">Next Card</a>
</div>



