<div class="decks_container">
  <center>
    <h1> Pick Your Deck, Mouahahah(Evil Laugh) </h1>
  </center>

  <center>
    <table width="300" border="0" cellspacing="0" cellpadding="0">
      <tr>

        <td>
          <center><h5>Capitals of The World</h5></center>
          <a href="/card/:id"><img src="http://th04.deviantart.net/fs70/PRE/i/2014/015/9/d/awakening_paris_by_matthias_haker-d72a61i.jpg" ></a>
        </td>
          <td>
            <center><h5>US State Capitals</h5></center>
            <img src="http://upload.wikimedia.org/wikipedia/commons/d/d2/US_Navy_030926-F-2828D-307_Aerial_view_of_the_Washington_Monument.jpg" >
          </td>

      </tr>
        <tr>
          <td>
            <center><h5>Historical Events</h5></center>
            <img src="http://www.hiroshima-remembered.com/history/nagasaki/images/H21.jpg" >
          </td>
          <td>
            <center><h5>Translations</h5></center>
            <img src="http://www.orbisvista.com/templates/upload/3-27-12_translation-dictionary.jpg" width= "300" height= "300" border="0">
          </td>
        </tr>
      </table>
    </center>
  </div>