<div class="container">
  <h1>GAME OVER!!!!</h1> </br>
  <p>You guessed <%= @total_guesses %> times </p> </br>
  <p>There were <%= @total_cards %> cards in the deck.</p> </br></br>
  <p> <%= @message %> </p><br><br></br>
  <a href="/decks"> Play again? :-) </a>
</div>







