
    <center><div id="slideshow">
      <div>
        <h1>
          FROM THE CREATORS OF
        </h1>
      </div>
      <div>
        <h1>
          MARIO KART 64'
        </h1>
      </div>
      <div>
        <h1>
          WELCOME TO
        </h1>
      </div>
      <div>
        <h1>
         FLASH ME
        </h1>
      </div>
      <div>
        <h1>
          .COM
        </h1>
      </div>
      <div>
       <img src="/julius.jpg">
       <center><h3>Julius</h3></center>
     </div>
     <div>
       <img src="/hilary.jpg">
       <center><h3>Hilary</h3></center>
     </div>
     <div>
      <img src="/dylan r.jpg">
      <center><h3>Dylan numero uno</h3></center>
    </div>
    <div>
      <img src="/dylan k.jpg">
      <center><h3>The other Dylan</h3></center>
    </div>
    <div>
      <img src="/derek.jpg">
      <center><h3>Derek "call him" Jeter</h3></center>
    </div>
    <div>
      <img src="/elz.jpg">
      <center><h3>Him...</h3></center>
    </div>
  </div>
</center>

