<div class="container">
  <center><h1>Flash Me.</h1></center>
    <center>
      <a href="url"><img src="https://lh5.googleusercontent.com/-GpLBKq71ZLU/TW5wIEa-QzI/AAAAAAAAW5M/tafcHSCOvvc/s1600/stack-of-flash-cards1.jpg"></a>
    </center>

</div>
