

<div>
	<p>You've selected the <b><%=@deck.name%></b> Deck.</p> 
	<p>Would you like to play a round with this Deck?</p>
	<p>It consists of <%= @deck.cards.length %> cards and you can get a maximum of 3 cards wrong before you lose!</p>

<form action="/deck/setup" method="post">
	<button name="deck" value=<%=@deck.id%>>Hell Yeah</button>
</form>
<form action="/decks" method="get">
	<button>Take Me Back!</button>		
</form
</div>